html {
    font-family: sans-serif;
    line-height: 1.5;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
}

input, textarea, select {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

li button {
    margin-left: 10px;
}

.remove-all {
    margin-top: 10px;
    text-align: center;
}

.error {
    color: red;
}

@media (max-width: 768px) {
    form {
        width: 100%;
    }
}

#loginForm {
    margin-bottom: 0;
}

.createAccountButton {
    margin-top: 10px;
}

#loginForm button[type="submit"] {
    float: right;
}

/* New styling for all buttons */

button {
    font-size: 16px;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
}

.left-div, .right-div {
    flex: 1;
    padding: 10px;
}

/* Style for the left div */
.left-div {
    background-color: #f9f9f9;
}

/* Style for the right div */
.right-div {
    background-color: #f2f2f2;
}


/* Override Bootstrap button styles */
button {
    font-size: 16px;
    padding: 10px 20px;
    font-weight: bold;
}

/* Customize primary button (the blue one) */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Customize secondary button (the grey one) */
.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #545b62;
    border-color: #545b62;
}

/* Customize success button (the green one) */
.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #1f8d3f;
    border-color: #1f8d3f;
}

/* Customize danger button (the red one) */
.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #c82333;
}
